body {
    margin: 1em;
}
.container {
    position: relative;
}
h1 {
    margin: auto;
    text-align: center;
    background-color: #d3d3d3;
    position: absolute;
    /*overflow: auto;*/
}
.jumbotron {
    display: flex;
    overflow: auto;
    background-image: url(../img/pizza.png);
    margin-top: 2em;
}
